@mixin header-link {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
}
@mixin header-link-hover {
    color: #333D4B;
}
@mixin font {
    font-family: 'Fraunces',serif;
    font-style: normal;
    font-weight: 900;
}