.site-header{
    margin: 45px 80px;
}
.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__list{
    display: flex;
}
.header__item{
    margin-left: 32px;
}
.header__link{
    @include header-link;
}
.header__link:hover{
    @include header-link-hover;
}
#check{
    display: none;
}
.checkbtn{
    font-size: 30px;
    float: right;
    line-height: 80px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media only screen and (max-width: 1050px) {
    .site-header{
        margin: 0 ;
        margin-top: 40px;
        margin-right: 20px;
        margin-bottom: 54px;
        margin-left: 20px;
    }
    .header__container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header__item{
        margin-right: 32px;
        display: inline-block;
    }
    .burger__box{
        display: none;
    }
    .header__list_burger{
        display: none;
    }
}
@media only screen and(max-width:768px){
    .header__logi{
        max-width: 165px;
    }
    .header__item{
        display: flex;
    }
}
@media only screen and (max-width:727px) {
    .site-header{
        margin: 0;
        margin-top: 32px;
        margin-right: 24px;
        margin-bottom: 40px;
        margin-left: 24px;
    }
    .header__container{
        text-align: center;
    }
    .header__logo{
        max-width: 163px;
    }
    .checkbtn{
        display: block;
    }
    .header__list{
        margin-top: 20px;
        display: block;
        position: fixed;
        max-width: 100%;
        width: 100%;
        height: 100vh;
        background: #6085B2;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s ;
        border-radius:20px;
    }
    .header__item{
        display: block;
    }
    .header__link{
        display: inline-block;
        color: #D7D7D8;
        font-size: 30px;
        padding: 0;
        margin: 0;
        padding-top: 60px;
    }
    .header__link:hover , .header__link:active{
        color: rgb(91, 187, 243);
        background: none;
    }
    #check:checked ~ .header__list{
        left: 0;
    }
}